/* Smaller navigation top padding */
.site-nav {
    padding-top: 0;
}

.site-nav h3 {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

.nav-list .nav-list-item .nav-list-link {
    min-height: 1.2rem;
    line-height: 1.2rem;
}

/* Allow link wrapping */
.main-content a {
    white-space: unset
}

/* Properly align definition lists (#1) */
.main-content dl {
	display: unset;
	grid-template-columns: unset
}
.main-content dt {
	text-align: unset
}
.main-content dt::after {
	content: unset
}
.main-content dd {
	margin-left: 3rem;
}

/* Show a left border in blockquotes, which are also used for admonitions */
blockquote {
	border-left: 0.3rem solid #bdf;
	margin-left: 0.3rem;
	padding-left: 0.9rem;
}

/* Menus and keyboard shortcuts */
em>strong, strong>em, strong>code {
    background-color: #fafafa;
    border: .05rem solid #00000020;
    border-radius: .1rem;
    color: #555;
    padding: 0.05rem .2rem;
    font-size: .95rem;
    font-weight: normal;
    font-style: normal;
}

code {
    font-size: 0.9rem;
    padding: 0.3rem 0.1rem 0.1rem 0.1rem;
}
